1.What are data structures, and why are they important?
  - Data structure in python is useful in storing and organizing the data efficiently where it also allows to access and modify the data.

2.Explain the difference between mutable and immutable data types with examples?
  - The data structures which can be changed and modified are considered as mutable
  - Eg for mutable: lists,dictionaries,sets
  - The data structures which once assigned and cannot be changed or modified are considered as Immutable data structures
  -Eg for immutable: Tuples, str

3.What are the main differences between lists and tuples in Python?
  - The major differences between lists and tuples are
  - Lists starts with [ ] , whereas tuple starts with ()
  - Lists are mutable , tuples are immutable.

4.Describe how dictionaries store data?
  - Dictionaries store the data in { } and they store the data in key:value format

5.Why might you use a set instead of a list in Python?
  - When ever i dont want any duplicates in my data structures i use set as set doesn't allow any duplicates
  - As there are no duplicates in set it is also fast in membership testing when compared to lists

6.What is a string in Python, and how is it different from a list?
  - A string is immutable and it can store only the characters in " ". whereas,lists are mutable and it can hold any data types.

7.How do tuples ensure data integrity in Python?
  - Tuples ensure data integrity by being immutable. Data once assigned cannot be modified in tuple so data integrity is possible in tuple.

8.What is a hash table, and how does it relate to dictionaries in Python?
  - Dictionaries are the data structures which store data in key: value format
  A hash function converts that key into a unique index. when you search for the key, the same has function will find the key index and retrieves the value instantly

9.Can lists contain different data types in Python?
  - yes, list can hold values with different data types

10.Explain why strings are immutable in Python?
  - Strings are immutable in python for memory efficiency

11.What advantages do dictionaries offer over lists for certain tasks?
  - Using dictionaries we can access values using key, this is faster when compared to accessing elements in list using index position.

12.Describe a scenario where using a tuple would be preferable over a list?
  - Tuple is preferrable over a list  when data integrity ins necessary and when data cannot be changed.

13.How do sets handle duplicate values in Python?
  - when you try to create a set and insert duplicat values in set it will automatically discard them.

14.How does the “in” keyword work differently for lists and dictionaries?
  - in is a membership check operator, in will check whether a element is present in the data structure
  - In lists "in" operator will check whether the value is present.
  - In dictionaries "in" operator will check whether the keys are present

15.Can you modify the elements of a tuple? Explain why or why not?
  - No, you cannot modify elements of a tuple, Tuples are immutable data once assigned in tuples cannot be changed or modified.

16.What is a nested dictionary, give and example of its use case?
  - Nested dictionary is nothing but dictionary inside a dictionary.
  - eg: my_info = {"name": "Vardhan" , "age": 26, "skills":{"Backend":"python","front-end":["Html","css"],"database":"Mysql"}}
  - In the above example you observe that i have created a dictionary inside a dictionary

17.Describe the time complexity of accessing elements in a dictionary?
  - when hash table assigns the same index position to different key in a dictionary, when you try to access the key then time complexity occurs.

18.In what situations are lists preferred over dictionaries?
  - Whenever order matters, lists are preferred over dictionaries.

19.Why are dictionaries considered unordered, and how does that affect data retrieval?
  - The values in the dictionaries are accessed through keys not through position. That is why dictionaries are considered as unordered.

20.Explain the difference between a list and a dictionary in terms of data retrieval?
  - The data in the lists are retrieved by position.
  _ The data in dictionaries are retrieved by keys.

In [1]:
#Write a code to create a string with your name and print it
name = "Vardhan"
print(name)

Vardhan

In [2]:
#Write a code to find the length of the string "Hello World"
string = "Hello World"
print(len(string))

11

In [3]:
#Write a code to slice the first 3 characters from the string "Python Programming"
string = "Python Programming"
print(string[0:3])

Pyth

In [4]:
#Write a code to convert the string "hello" to uppercase
string = "hello"
uppercase = string.upper()
print(uppercase)

HELLO

In [6]:
#Write a code to replace the word "apple" with "orange" in the string "I like apple"
sentence = "I like apple"
replaced_sentence = sentence.replace("apple","orange")
print(replaced_sentence)

I like orange

In [7]:
#Write a code to create a list with numbers 1 to 5 and print it
print(list(range(1,6)))

[1, 2, 3, 4, 5]

In [8]:
#Write a code to append the number 10 to the list [1, 2, 3, 4]
list_a = [1,2,3,4]
list_a.append(10)
print(list_a)

[1, 2, 3, 4, 10]

In [9]:
# Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list_a = [1,2,3,4,5]
list_a.remove(3)
print(list_a)

[1, 2, 4, 5]

In [10]:
#Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list_a = ['a','b','c','d']
print(list_a[1])

b

In [11]:
#Write a code to reverse the list [10, 20, 30, 40, 50]
list_a = [10,20,30,40,50]
print(list_a[::-1])

[50, 40, 30, 20, 10]

In [12]:
#Write a code to create a tuple with the elements 100, 200, 300 and print it
tuple_a = (100,200,300)
print(tuple_a)

(100, 200, 300)

In [13]:
#Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
tuple_a = ('red','green','blue','yellow')
print(tuple_a[-2])

blue

In [14]:
#Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tuple_a = (10,20,5,15)
print(min(tuple_a))

5

In [15]:
#Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple_a = ('dog','cat','rabbit')
print(tuple_a.index('cat'))

1

In [16]:
#Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
tuple_a = ("apple","mango","kiwi")
kiwi_presence = "kiwi" in tuple_a
print(kiwi_presence)

True

In [17]:
#Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set_a = {'a','b','c'}
print(set_a)

{'b', 'a', 'c'}

In [18]:
#Write a code to clear all elements from the set {1, 2, 3, 4, 5}
set_a = {1,2,3,4,5}
set_a.clear()
print(set_a)

set()

In [19]:
#Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set_a = {1,2,3,4}
set_a.discard(4)
print(set_a)

{1, 2, 3}

In [20]:
# Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set_a = {1,2,3}
set_b = {3,4,5}
print(set_a | set_b)

{1, 2, 3, 4, 5}

In [21]:
#Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set_a = {1,2,3}
set_b = {2,3,4}
print(set_a & set_b)

{2, 3}

In [22]:
# Write a code to create a dictionary with the keys "name", "age", and "city", and print it
dict_a = {"name": "Vardhan", "age": 26, "city": "Hyderabad"}
print(dict_a)

{'name': 'Vardhan', 'age': 26, 'city': 'Hyderabad'}

In [23]:
#Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
dict_a = {'name': 'John', 'age': 25}
dict_a['country'] = 'USA'
print(dict_a)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [24]:
# Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dict_a = {'name': 'Alice', 'age': 30}
print(dict_a['name'])

Alice

In [25]:
# Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict_a = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict_a.pop('age')
print(dict_a)

{'name': 'Bob', 'city': 'New York'}

In [26]:
# Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dict_a = {'name': 'Alice', 'city': 'Paris'}
if 'city' in dict_a:
    print("Exists")
else:
    print("Does not exist.")

Exists

In [27]:
#Write a code to create a list, a tuple, and a dictionary, and print them all.
list_a = ["vardhan",26,90.2]
tuple_a = ("vardhan",26,90.2)
dict_a = {"name":"vardhan","age":26,"marks":90.2}
print(list_a)
print(set_a)
print(dict_a)

['vardhan', 26, 90.2]
{1, 2, 3}
{'name': 'vardhan', 'age': 26, 'marks': 90.2}

In [28]:
# Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.
import random
list_a = random.sample(range(1,100),5)
list_a.sort()
print(list_a)

[24, 38, 62, 66, 80]

In [29]:
#Write a code to create a list with strings and print the element at the third index
list_a = ["apple","mango","kiwi","Banana"]
print(list_a[3])

Banana

In [32]:
#Write a code to combine two dictionaries into one and print the result
dict_a = {"name":"vardhan","age":26,"marks":90.2}
dict_b = {'name': 'Alice', 'city': 'Paris'}
dict_a.update(dict_b)
print(dict_a)

{'name': 'Alice', 'age': 26, 'marks': 90.2, 'city': 'Paris'}

In [33]:
#Write a code to convert a list of strings into a set.
list_a = ["apple","mango","kiwi","Banana"]
print(set(list_a))

{'mango', 'Banana', 'kiwi', 'apple'}